@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg: #f3f3f3;
  --surface: #dcd2c6;
  --muted: #c8b9a6;
  --taupe: #b79c81;
  --clay: #9f8265;
  --walnut: #856548;
  --deep: #604f35;
  --ink: #2e2c27;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --surface: #1e1e1e;
    --muted: #2c2c2c;
    --taupe: #3a3a3a;
    --clay: #4a4a4a;
    --walnut: #5c5c5c;
    --deep: #6f6f6f;
    --ink: #e0e0e0;
  }
}
body {
  background-color: var(--bg);
  color: var(--ink);
}
